@media (min-width: 320px) {

    /*Hero*/

    .hero-background {
        background-image: url(img/Layer\ 11.jpg);
    }

    .about-column {
        background-color: var(--yellow);
        margin-left: 10px;
        margin-right: 10px;
    }

    .about-picture {
        width: 230px;
        margin-top: 17px;
        position: absolute;
        left: -55px;
    }

    .picture-column {
        height: 190px;
        width: 200px;
        position: relative;
        margin-left: 100px;
        margin-top: 20px;
    }

    .text-column {
        margin-top: 15px;
        padding: 20px;
        color: var(--gray);
    }

    .about-column-content {
        margin: 0;
    }

    .about-us-text {
        color: var(--gray);
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .read-more-btn {
        margin-left: 10px;
        display: inline-block;
        border: none;
    }

    .none {
        display: none;
    }
}

@media (min-width: 768px) {
    /*About*/

    .about-columns  {
        display: flex;
        width: 700px;
        margin: 0 auto;
        padding-top: 30px;
    }

    .text-column {
        width: 370px;
        margin: 0;
    }

    .picture-column {
        margin-top: 0;
        height: 215px;
    }

    .about-picture {
        width: 270px;
        left: -97px;
    }

    .none {
        display: inline-block;
    }

    .open {
        display: none;
    }

    .close {
        display: none;
    }

    .about-us-text {
        width: 700px;
        margin-left: 34px;
        margin-right: 34px;
    }
}

@media (min-width: 1024px) {
    /*About*/

    .about-columns {
        width: 900px;
        justify-content: space-between;
    }

    .about-picture {
        width: 360px;
    }

    .picture-column {
        height: 274px;
        width: 333px;
    }

    .about-us-text {
        width: 900px;
        margin-left: 62px;
        margin-right: 62px;
        margin-top: 30px;
    }
}

@media (min-width: 1400px) {
    /*About*/
    .hero-nav {
        top: 448px;
    }

    .about-us-text {
        margin-left: 0;
        margin-right: 0;
        width: 1000px;
        font-size: 18px;
    }

    .text-container {
        width: 1000px;
        margin: 0 auto;
    }
}

@media (min-width: 1920px) {
    /*About*/
      
    .about-us-text {
        width: 1200px;
    }

    .text-container {
        width: 1200px;
    }

    .about-column-content {
        font-size: 20px;
    }

    .about-columns {
        width: 1200px;
    }

    .about-picture {
        width: 455px;
    }

    .picture-column {
        height: 340px;
        width: 450px;
    }

    .text-column {
        width: 500px;
        padding: 22px;
    }
       
}