@media (min-width: 320px) {

    /*Hero*/

    .hero-background {
        background-image: url(img/Rounded\ Rectangle\ 2.jpg);
        background-position: 50% 37%;
        background-size: 100%;
    }
    /*Contact*/

    .contact-info {
        background-image: url(img/smartphone-4942918_1920.jpg);
        background-size: 150%;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .contact-column-container {
        padding: 0 10px;
    }

    .contact-form-column {
        background-color: var(--yellow);
        position: relative;
        width: 200px;
        height: 390px;
        margin-bottom: 30px;
    }

    .contact-form {
        position: absolute;
        top: 15px;
        left: 30px;
    }

    .contact-input {
        border: 1px solid #d69d03;
        margin-bottom: 10px;
        width: 250px;
        height: 25px;
        background-color: rgba(248, 217, 134, 0.8);
        color: black;
        padding-left: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
        outline: none;
    }

    .contact-textarea {
        height: 150px;
        resize: none;
    }

    .contact-btn {
        margin-left: 178px;
        border: 0;
        background-color: var(--btn-yellow);
        border-radius: 10px;
        width: 72px;
        height: 25px;
        color: white;
        font-size: 18px;
    }

    .contact-text-column {
        width: 240px;
        padding: 15px 30px;
        background-color: var(--yellow);
    }

    .column-address {
        background-image: url(img/mail.png);
        background-repeat: no-repeat;
        padding-left: 40px;
        margin-bottom: 15px;
        color: var(--gray);
    }

    .phone-container {
        background-image: url(img/phone.png);
        background-repeat: no-repeat;
        padding-left: 40px;
        margin-bottom: 15px;
        height: 34px;
    }

    .contact-phone {
        line-height: 31px;
    }

    .e-mail-container {
        background-image: url(img/mail-icon.png);
        background-repeat: no-repeat;
        padding-left: 40px;
        margin-bottom: 15px;
    }

    .contact {
        height: 1012px;
    }

    .map-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
    }

    .map {
        height: 283px;
        width: 100%;
        border-top: 4px solid var(--yellow);
    }

    /*Footer*/

    .footer {
        margin-top: 0;
    }
}

@media (min-width: 768px) {

    /*Contact*/

    .map-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
    }

    .contact-column-container {
        display: flex;
        width: 700px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
    }

    .contact-text-column {
        height: 143px;
    }

    .contact-form-column {
        width: 230px;
    }

    .contact-input {
        width: 300px;
    }

    .contact-btn {
        margin-left: 213px;
    }

    .contact {
        height: 830px;
    }
}

@media (min-width: 1024px) {

    /*Contact*/

    .contact-form {
        left: 55px;
        top: 25px;
    }

    .contact-form-column {
        width: 257px;
    }

    .contact-column-container {
        width: 800px;
    }

    .map {
        height: 440px;
    }

    .column-address {
        font-size: 18px;
    }

    .hero-background {
        background-size: 77%;
        background-repeat: no-repeat;
    }

    .contact-phone {
        font-size: 18px;
    }

    .contact-email {
        font-size: 18px;
    }

    .contact-text-column {
        padding: 30px 60px;
    }

    .contact {
        height: 1007px;
    }
}

@media (min-width: 1400px) {

    .contact-column-container {
        width: 1000px;
    }

    .contact-form-column {
        width: 300px;
        height: 418px;
    }

    .contact-input {
        width: 320px;
        height: 30px;
    }

    .map {
        height: 299px;
    }

    .contact-textarea {
        height: 150px;
    }

    .contact-btn {
        width: 86px;
        height: 30px;
        margin-left: 247px;
    }

    .contact-form {
        left: 93px;
        top: 30px;
    }

    .contact-text-column {
        padding: 40px 90px;
    }

    .contact {
        height: 916px;
    }
}

@media (min-width: 1920px) {

    .contact {
        height: 1049px;
    }

    .map {
        height: 431px;
    }
}