

@media (min-width: 320px) {

    /*Hero*/

    .hero-background {
        background-image: url(img/Rounded\ Rectangle\ 2.jpg);
        background-position: 20% 50%;
    }

    /*Home*/

    .video-container {
        max-width: 800px;
        margin: 0 auto;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
    }

    .movie {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .second-video-container {
        display: grid;
        grid-template-columns: repeat(autofit, minmax(300px, 800px));
        position: relative;
        aspect-ratio: 16/9;
    }

    .yellow-title {
        margin-left: 10px;
        width: 200px;
        font-weight: 400;
        margin-bottom: 0;
        font-size: 24px;
        color: var(--yellow);
        padding-left: 30px;
    }

    .welcome {
        background-image: url(img/welcome.png);
        background-repeat: no-repeat;
        background-position: 0% 10%;
    }

    .news {
        background-image: url(img/news.png);
        background-repeat: no-repeat;
        background-position: 0% 10%;
        padding-left: 35px;
    }

    .yellow-border {
        width: 200px;
        height: 3px;
        background: linear-gradient(to right, #f8d578, white);
        margin-left: 20px;
        margin-bottom: 40px;
    }

    .main-content {
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 15px;
        padding-bottom: 40px;
        color: var(--gray);
    }

    .news-title {
        margin: 0;
        font-size: 21px;
        font-weight: 400;
    }

    .news-content {
        margin: 0;
        padding-bottom: 15px;
    }

    .news-column {
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;
        color: var(--gray);
    }

    .footer {
        margin-top: 50px;
    }

    .progress-container {
        margin: 0 auto;
        max-width: 800px;
    }

    .progress {
        width: 100%;
        background-color: var(--gray);
        height: 4px;
        border-radius: 3px;
    }

    .controls {
        display: flex;
        padding-top: 5px;
    }

    .controls-background {
        background-color: rgba(51, 51, 51, 0.5);
        position: absolute;
        left: 10px;
        top: 343px;
        width: 97.2%;
        height: 50px;
    }

    .no-controls {
        display: none;
    }

    .play-btn {
        background-image: url(img/play.png);
        width: 30px;
        height: 21px;
        border: none;
        background-color: transparent;
        background-size: 99%;
        background-repeat: no-repeat;
        cursor:pointer;
    }

    .pause-btn {
        background-image: url(img/pause.png);
        width: 30px;
        height: 21px;
        border: none;
        background-color: transparent;
        background-size: 100%;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .speed-slow-btn {
        background-image: url(img/slow-fast.png);
        width: 30px;
        height: 20px;
        border: none;
        background-color: transparent;
        background-size: 100%;
        background-repeat: no-repeat;
        transform: rotate(180deg);
        cursor:pointer;
        margin-left: 10px;
    }

    .speed-quick-btn {
        background-image: url(img/slow-fast.png);
        width: 30px;
        height: 20px;
        border: none;
        background-color: transparent;
        background-size: 100%;
        background-repeat: no-repeat;
        cursor:pointer;
    }

    .speed-normal-btn {
        border: none;
        background-color: transparent;
        background-size: 100%;
        color: white;
        border: 1px solid white;
        border-radius: 2px;
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
        cursor:pointer;
    }

    input[type='range'] {
        overflow: hidden;
        width: 80px;
        -webkit-appearance: none;
        background-color: white;
      }
      
      input[type='range']::-webkit-slider-runnable-track {
        height: 5px;
        -webkit-appearance: none;
        color: var(--btn-yellow);
        margin-top: -1px;
      }
      
      input[type='range']::-webkit-slider-thumb {
        width: 10px;
        -webkit-appearance: none;
        height: 5px;
        cursor: pointer;
        background: var(--yellow);
        box-shadow: -80px 0 0 80px var(--btn-yellow);
      }
      
      input[type="range"]::-moz-range-progress {
        background-color: var(--btn-yellow);
      }
      
      input[type="range"]::-moz-range-track {
        background-color: white;
      }
      
      input[type="range"]::-ms-fill-lower {
        background-color:  var(--btn-yellow);
      }
      
      input[type="range"]::-ms-fill-upper {
        background-color: white;
      }

      .volume-container {
          margin-left: auto;
          margin-right: 10px;
      }

      .play-container {
          margin-left: 10px;
      }

      .hidden {
          display: none;
      }

      .big-play {
          position: absolute;
          background-image: url(img/play.png);
          width: 89px;
          height: 63px;
          background-size: 100%;
          background-color: transparent;
          border: none;
          top: 170px;
          left: 296px;
          background-repeat: no-repeat;
          cursor: pointer;
      }
}

@media (min-width: 768px) {

    /*Hero*/

    .yellow-title {
        width: 500px;
    }

    .main-container {
        width: 700px;
        margin: 0 auto;
    }

    .video-container {
        max-width: 800px;
        margin: 0 auto;
    }

    .movie {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .second-video-container {
        display: grid;
        grid-template-columns: repeat(autofit, minmax(300px, 800px));
        position: relative;
        aspect-ratio: 16/9;
    }

    .main-content {
        padding-left: 0;
        width: 620px;
    }

    .news-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    .news-column {
        width: 300px;
    }

    .hero-background {
        background-position: 50% 35%;
    }

    @media (min-width: 1920px) {

        /*Hero*/

        .main-container {
            width: 1000px;
        }

        .video-container {
            width: 800px;
            height: 400px;
            object-fit: cover;
        }

        .main-content {
            font-size: 16px;
            width: 800px;
        }

        .news-column {
            width: 400px;
        }
    }
}